<div class="main-container">
  <h2 class="title">Editar perfil</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input
            matInput
            type="text"
            placeholder="Insira seu nome"
            [(ngModel)]="user.name"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="Insira seu email"
            [(ngModel)]="user.email"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input
            matInput
            type="text"
            placeholder="Insira seu login"
            [(ngModel)]="user.login"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            placeholder="Insira sua senha"
            [(ngModel)]="user.password"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Idade</mat-label>
          <input
            matInput
            type="number"
            placeholder="Insira sua idade"
            [(ngModel)]="user.age"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Departamento</mat-label>
          <mat-select multiple>
            <mat-option value="Financeiro">Financeiro</mat-option>
            <mat-option value="Administração">Administração</mat-option>
            <mat-option value="Direção">Direção</mat-option>
            <mat-option value="Operacional">Operacional</mat-option>
            <mat-option value="Infraestrutura">Infraestrutura</mat-option>
            <mat-option value="Desenvolvimento">Desenvolvimento</mat-option>
            <mat-option value="Comercial">Comercial</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Grupos</mat-label>
          <mat-select multiple>
            <mat-option value="CLT">CLT</mat-option>
            <mat-option value="PJ">PJ</mat-option>
            <mat-option value="Freelancer">Freelancer</mat-option>
            <mat-option value="Parceiros">Parceiros</mat-option>
            <mat-option value="Outros">Outros</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Descrição do perfil</mat-label>
          <textarea
            matInput
            placeholder="Escreva uma breve descrição do seu perfil..."
          ></textarea>
        </mat-form-field>
        <h3 class="title">Redes sociais</h3>

        <mat-form-field appearance="outline">
          <mat-label>Github</mat-label>
          <input matInput [(ngModel)]="user.socialMedia" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Instagram</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Facebook</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Twitter</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="button-row">
    <button mat-raised-button color="primary" (click)="update()">Enviar</button>
    <button mat-raised-button color="primary" (click)="delete()">
      Deletar Perfil
    </button>
  </div>
</div>
