.main-content {
  padding: 20px 50px;
  margin: 30px 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .title {
    color: #673ab7;
  }
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}
