.main-container {
  padding: 50px;
  margin: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @media (max-width: 768px) {
    margin: 40px;
  }

  .title {
    color: #673ab7;
  }

  .btn {
    background-color: #673ab7;
    border: none;
  }
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    margin: 20px 50px;
  }
}
