<div class="main-container">
  <h2 class="title">Editar perfil</h2>
  <div
    class="row justify-content-around row-cols-1 row-cols-sm-2 row-cols-md-4"
  >
    <div class="col">
      <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="..."
          [(ngModel)]="user.name"
          minlength="4"
          required
        />
      </div>

      <div class="form-group">
        <label for="email" class="form-label">Email</label
        ><input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="user.email"
          placeholder="..."
          minlength="4"
          required
        />
      </div>

      <div class="form-group">
        <label for="login" class="form-label">Login</label
        ><input
          type="text"
          class="form-control"
          [(ngModel)]="user.login"
          minlength="4"
          placeholder="..."
          required
        />
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Senha</label
        ><input
          type="password"
          class="form-control"
          [(ngModel)]="user.password"
          placeholder="..."
          minlength="4"
          required
        />
      </div>

      <div class="form-group">
        <label for="age" class="form-label">Idade</label
        ><input
          type="number"
          class="form-control"
          [(ngModel)]="user.age"
          minlength="4"
          placeholder="..."
        />
      </div>

      <label for="department" class="form-label">Departamento</label>
      <select
        class="form-select"
        [(ngModel)]="user.department"
        placeholder=""
        required
      >
        <option
          *ngFor="let department of departments"
          [value]="department.value"
        >
          {{ department.viewValue }}
        </option>
      </select>

      <label for="groups" class="form-label">Grupo</label>
      <select class="form-select" [(ngModel)]="user.groups" required>
        <option *ngFor="let group of groups" [value]="group.value">
          {{ group.viewValue }}
        </option>
      </select>

      <div class="checkbox-group">
        <div class="form-check mt-2">
          <label class="form-check-label" for="status"
            >Marque se você for um perfil inativo</label
          >
          <input
            class="form-check-input"
            type="checkbox"
            name="status"
            id="status"
            [(ngModel)]="user.status"
          />
        </div>
      </div>
    </div>

    <div class="col">
      <label for="avatar">Foto do perfil</label>
      <input
        type="url"
        class="form-control"
        placeholder="Insira a url da foto"
        [(ngModel)]="user.avatar"
      />

      <div class="m-2">
        <label for="description">Descrição do perfil</label>
        <textarea
          name="description"
          id="description"
          cols="30"
          rows="5"
          class="form-control"
          [(ngModel)]="user.description"
        ></textarea>
      </div>

      <h3 class="title">Redes sociais</h3>

      <div
        class="
          row
          justify-content-center
          row-cols-1 row-cols-sm-2 row-cols-md-2
        "
      >
        <div class="col">
          <label class="form-label">Github</label>
          <input class="form-control" type="text" [(ngModel)]="user.github" />

          <label class="form-label">Instagram</label>
          <input
            class="form-control"
            type="text"
            [(ngModel)]="user.instagram"
          />
        </div>
        <div class="col">
          <label class="form-label">Facebook</label>
          <input class="form-control" type="text" [(ngModel)]="user.facebook" />

          <label class="form-label">Twitter</label>
          <input class="form-control" type="text" [(ngModel)]="user.twitter" />
        </div>
      </div>
    </div>
  </div>

  <div class="button-row">
    <button class="btn btn-primary" (click)="update()">Enviar</button>
    <button class="btn btn-primary" (click)="openDialog()">
      Deletar Perfil
    </button>
  </div>
</div>
