.form-container {
  padding: 20px 50px;
  margin: 30px 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .title {
    color: #673ab7;
  }
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .btn-primary {
    background-color: #673ab7;
    border: none;
  }
}
