<div class="col m-4">
  <div class="card text-center">
    <div class="col m-4">
      <img
        src="{{ user.avatar }}"
        alt=""
        width="100"
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
      />
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>

        <p class="card-span">{{ user.department }} - {{ user.groups }}</p>
      </div>

      <a class="btn btn-primary" routerLink="/views/profile-view/{{ user.id }}"
        >Abrir perfil</a
      >
    </div>
  </div>
</div>
