.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;

  h3 {
    font-weight: 300;
  }

  @media (max-width: 768px) {
    width: 18rem;
  }
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.btn {
  background-color: #673ab7;
  border: none;
}

.card-span {
  font-size: 12px;
  color: #a1aab9;
}

.card-title {
  font-weight: 600;
}
